scripts/mybgg/__pycache__/__init__.cpython-310.pyc
scripts/mybgg/__pycache__/bgg_client.cpython-310.pyc
scripts/mybgg/__pycache__/downloader.cpython-310.pyc
scripts/mybgg/__pycache__/indexer.cpython-310.pyc
scripts/mybgg/__pycache__/models.cpython-310.pyc
